p{
    background-color: antiquewhite;
}
.grey-box{
    width: 150px;
    height: 100px;
    background-color: #dccdcd;
    border: solid blueviolet;
    margin: 0;
    display: inline-block;

}
.flex{
    background-color: #cceca5;
    height: 500px;
    display: flex;



}