p{
    background-color: antiquewhite;
}
.grey-box{
    width: 150px;
    height: 100px;
    background-color: #dccdcd;
    border: solid blueviolet;
    margin: 0;
    display: flex;

}

.card{
    width: 160px;
    height: 160px;
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


}
.card-red{
    width: 160px;
    height: 160px;
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: red;
}

.flex{
    background-color: #cceca5;
    height: 500px;
    display: flex;



}